<div class="jumbotron mainJumbotron">
  <h1 class="display-4">Something Significant</h1>
  <p class="lead text-info">of the blah blah blah...</p>
</div>
<div class="innerDiv">
<app-navigation-menu></app-navigation-menu>
</div>
<router-outlet></router-outlet>
<bootstrap-alert alertPosition="top-center"></bootstrap-alert>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>



