<div class="menuBar">
<button mat-button [matMenuTriggerFor]="serviceProviders">
  <mat-icon class="buttonIcon">dashboard</mat-icon>
  Maintenance
</button>
<mat-menu #serviceProviders="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item [matMenuTriggerFor]="providers">Organisations</button>
    <button mat-menu-item [matMenuTriggerFor]="doctors">Practitioners</button>
  </ng-template>
</mat-menu>

<mat-menu #providers="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>Fishes</button>
    <button mat-menu-item>Amphibians</button>
    <mat-divider [inset]="true"></mat-divider>
    <button mat-menu-item>Birds</button>
    <mat-divider ></mat-divider>
    <button mat-menu-item>Mammals</button>
  </ng-template>
</mat-menu>

<mat-menu #doctors="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>Insects</button>
    <button mat-menu-item>Molluscs</button>
    <button mat-menu-item>Crustaceans</button>
    <button mat-menu-item>Corals</button>
    <button mat-menu-item>Arachnids</button>
    <button mat-menu-item>Velvet worms</button>
    <button mat-menu-item>Horseshoe crabs</button>
  </ng-template>
</mat-menu>

<mat-menu #patients="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>Baikal oilfish</button>
    <button mat-menu-item>Bala shark</button>
    <button mat-menu-item>Ballan wrasse</button>
    <button mat-menu-item>Bamboo shark</button>
    <button mat-menu-item>Banded killifish</button>
  </ng-template>
</mat-menu>
</div>
